.App {
    // background: linear-gradient(170deg, #1E1C1C, #3B3737);
    background: url('/bg.webp');
    background-position: center;
    background-size: cover;

    height: 100vh;
    width: 100%;
    overflow: hidden;

    @keyframes noiseJump {
        0% {
            background-position: 0 0;
        }

        20% {
            background-position: 30px -20px;
        }

        40% {
            background-position: -25px 15px;
        }

        60% {
            background-position: 10px -10px;
        }

        80% {
            background-position: -15px 25px;
        }

        100% {
            background-position: 0 0;
        }
    }


    &_noise {
        position: fixed;
        left: 0;
        top: 0;
        min-width: 100vw;
        min-height: 100vh;
        background-image: url('/noise.webp');
        background-size: 500px;
        z-index: 99;
        pointer-events: none;
        mix-blend-mode: soft-light;
        animation: noiseJump 1s steps(1) infinite;
    }



    &_footer {
        background: linear-gradient(to bottom, #0008, #0000);

        &_wrapper {
            top: -100vh;
            width: 100% !important;
            align-items: start !important;
            z-index: 99;

        }
    }

    &_canvas {
        position: relative;
        z-index: 1;
        pointer-events: none;

    }

    &_interactive {
        min-width: 280px;
        min-height: 200px;
        // background: #f008;
        cursor: pointer;

        &_wrapper {
            left: -60px;
            z-index: 999;
            width: 100% !important;
            align-items: end !important;
        }
    }

    &_interactiveTv {
        min-width: 60px;
        min-height: 60px;
        // background: #f008;
        cursor: pointer;

        &_wrapper {
            left: -52px;
            top: -415px;
            z-index: 999;
            width: 100% !important;
            align-items: end !important;
        }
    }

    &_vid {
        width: 100% !important;
        top: 50vh;
        z-index: 99999;

        video {
            width: 100vw;
            height: 100vh;
            object-fit: cover;
        }
    }
}