.Kill {
    &_svg {
        left: 50%;
        transform: translateX(-50%);
        top: 350px;
        position: absolute;
        width: 1500px;
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 100px;

        img {
            width: 100%;
        }

        @media(max-width: 1400px) {
            width: 700px;
            top: 250px;
        }

        @media(max-width: 900px) {
            width: 100%;
        }

        @media(max-width: 650px) {
            top: 220px;
        }

        @media(max-width: 450px) {
            top: 200px;
        }
    }
}

.line_letterI_width,
.line_letterI_height,
.line_letterL,
.line_letterSecL,
.line_letterHfirst,
.line_letterHSec,
.line_letterM,
.line_letterK,
.line_letterT {
    transform-origin: bottom;
    transition: transform 1000ms ease-in-out;
}

.line_letterL {
    transform-origin: bottom;
    transform: scaleY(1.8);
}

.line_letterSecL {
    transform-origin: bottom;
    transform: scaleY(1.8);
}

.line_letterHfirst {
    transform-origin: bottom;
    transform: scaleY(.9);
}

.line_letterHSec {
    transform-origin: bottom;
    transform: scaleY(1.5);
}

.line_letterM {
    transform-origin: bottom;
    transform: scaleY(.9);
}

.line_letterK {
    transform-origin: bottom;
    transform: scaleY(.9);
}

.line_letterT {
    transform-origin: bottom;
    // transform: scaleY(.9);
}

// translateY(${top}px