.LightTest {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &_light {
        opacity: .5;
        z-index: 2;
        mask-image: url('/tmpPers.png');
        -webkit-mask-image: url('/tmpPers.png');
        mask-size: cover;
        -webkit-mask-size: cover;
    }
}