.Media {
    min-width: 100vw;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    @media(max-width: 500px) {
        gap: 20px;
    }

    img {
        width: 40px;
        max-height: 40px;
        user-select: none;

        @media(max-width: 500px) {
            width: 30px;
            max-height: 30px;
        }
    }

    &_inactive {
        // opacity: .2;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding-bottom: 8px;

        &_soon {
            justify-content: right !important;
            display: none !important;
            transition: opacity 200ms;

            img {
                min-width: 40px;
            }
        }

        &_base {
            transition: opacity 200ms;
        }
    }

    a {
        transition: transform 500ms;
    }

    a:hover {
        transform: scale(1.2);
    }

}